@model ProyectoClinica.Medicamentos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Farmacia.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Farmacia.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMedicamento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
