@model ProyectoClinica.MedicamentosConsultas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedicamentosConsultas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicamentos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamentos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordenes.valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordenes.valoracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMConsulta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
