@model IEnumerable<ProyectoClinica.MedicamentosConsultas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medicamentos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordenes.valoracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medicamentos.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordenes.valoracion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMConsulta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMConsulta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMConsulta })
        </td>
    </tr>
}

</table>
